<div class="container spacer">
    <div class="panel panel-primary">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <div class="container">
          <h2>Contribuables List</h2>


         <table class="table table-striped">
          <tr>
            <th>NIF</th><th>login</th><th>password</th><th>dateNaissance</th><th>email</th><th>Status</th>
          </tr>
          <tr *ngFor="let contribuable of contribuables"> 
            <td>{{contribuable.NIF}}</td>
            <td>{{contribuable.login}}</td>
            <td>{{contribuable.password}}</td>
            <td>{{contribuable.dateNaissance}}</td>
            <td>{{contribuable.email}}</td>
            <td>{{contribuable.Status}}</td>
            <td>
                <button (click) = 'updateContribuable()' style="margin-left: 20px;" class="btn btn-info"> Valider </button> 
            </td>
          </tr> 
        </table>
   
        
       
          </div>
      </div>
    </div>
   </div>
   